@page
@model Projeto_AT_DotNet.Pages.Clientes.ListClienteModel
@{
    ViewData["Title"] = "Clientes Cadastrados";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success mt-3" role="alert">
        <strong>Sucesso:</strong> @TempData["SuccessMessage"]
    </div>
}

<a asp-page="./CreateCliente" class="btn btn-info">Voltar ao Cadastro de Cliente</a>